

// Wider dialogs than the default bootstrap ones
.feedback-modal {
  width: 610px;
  margin-left: -305px;
}


// Animates horizontal & vertical movements of the dialogs (bootstrap only
// animates the vertical ones).
.feedback-modal.fade {
  $animation: opacity 0.3s linear, top 0.3s ease-out, left 0.3s ease-out;
  -webkit-transition: $animation;
     -moz-transition: $animation;
       -o-transition: $animation;
          transition: $animation;
}


// Both highlight "rows" should have the correct padding
.highlight-operation {
  padding: {
    top: 7px;
    bottom: 7px;
  }
}


