
<div ng-controller="FeedbackFormCtrl">
  <div close="close()" options="opts" style="display: none;" dnd-modal="dlgOpened"
    backdrop-drawable="step == FeedbackStep.HIGHLIGHT"
    backdrop-opacity="step == FeedbackStep.HIGHLIGHT">
    <div class="modal-header">
      <button class="close" ng-click="close()">&times;</button>
      <h4>Feedback</h4>
    </div>
    <div class="modal-body">
  
      <div ng-show="step == FeedbackStep.DESCRIPTION">
        <p>Feedback te permite enviar sugerencias sobre nuestros productos. Agradecemos
          informes sobre problemas, ideas de funcionalidades y comentarios generales.</p>
        <p>Empieza por escribir una breve descripción:</p>
        <textarea class="span6" ng-model="message" rows="4" placeholder="Escribe aquí..."
           id="message"></textarea>
        <label for="screenshot" class="checkbox">
          <input type="checkbox" ng-model="screenshot" name="screenshot" id="screenshot">
          Identificar a continuación las áreas de la página relacionadas con tu
          descripción.
        </label>
      </div>

      <div ng-show="step == FeedbackStep.SUCCESS">
        <p>Hemos recibido tu mensaje correctamente. Gracias por tu participación.</p>
      </div>

      <div ng-show="step == FeedbackStep.SCREENSHOT">
        <p>Espera mientras tomamos una instantánea de la página para que puedas resaltar
          las zonas relevantes.</p>
      </div>

      <div ng-show="step == FeedbackStep.REVIEW">
        <p>Se enviarán la descripción, la captura de pantalla, la información adicional
          y la información de la página que tienes a continuación:</p><br>
        <accordion close-others="false">
          <accordion-group heading="Descripción" is-open="groups.description">
            <textarea class="span6" ng-model="message" rows="4"
              placeholder="Escribe aquí..." id="message"></textarea>
          </accordion-group>

          <accordion-group heading="Captura de pantalla" is-open="groups.screenshot">
            <img ng-show="screenshot && screenshotPrepared" ng-src="{{screenshotData}}">
            <p ng-show="screenshot && !screenshotPrepared">Cargando datos...</p>
            <p ng-show="!screenshot">No se enviará ninguna captura de pantalla.</p>
          </accordion-group>

          <accordion-group heading="Información adicional" is-open="groups.browserInfo">
            <span ng-repeat="(key, value) in data.browser">{{key}}: {{value}}<br></span>
            pluginNames:<br>
            <span ng-repeat="name in data.plugins">&nbsp;&nbsp;&nbsp;- {{name}}<br></span>
          </accordion-group>

          <accordion-group heading="Información de la página" is-open="groups.pageInfo">
            URL: {{data.page.location}}
          </accordion-group>
        </accordion> 
      </div>

    </div>
    <div class="modal-footer">

      <div ng-show="step == FeedbackStep.DESCRIPTION">
        <span style="color: red; padding-right: 15px;" ng-show="messageErr">
          Introduce una descripción</span>
        <button class="btn" ng-click="descriptionNext()">Siguiente</button>
      </div>

      <div ng-show="step == FeedbackStep.SUCCESS">
        <button class="btn btn-primary" ng-click="close()">Cerrar</button>
      </div>

      <div ng-show="step == FeedbackStep.HIGHLIGHT">
        <button class="btn" ng-click="highlightPrev()">Anterior</button>
        <button class="btn" ng-click="highlightNext()">Siguiente</button>
      </div>

      <div ng-show="step == FeedbackStep.REVIEW">
        <span style="color: red; padding-right: 15px;" ng-show="messageErr">
          Introduce una descripción</span>
        <button class="btn" ng-click="reviewPrev()">Anterior</button>
        <button class="btn btn-primary" ng-click="send()">Enviar</button>
      </div>
    </div>
  </div>

</div>
